.section_header{
margin-bottom: 60px;
}
/* features */
#features {
margin-top: 70px; }
#features .subtitle h2 {
margin: 0;
font-style: italic;
font-size: 24px;
font-weight: normal;
margin-bottom: 70px;
line-height: 35px;
text-align: center; }
#features .section_header h3 span {
font-size: 18px;
line-height: 20px; }
#features .option1 {
margin-bottom: 70px; }
#features .option1 .feature {
border-bottom: 1px solid #e0e0e0;
margin-bottom: 20px; }
#features .option1 .feature .info h3 {
font-size: 21px;
/*margin-top: 45px;*/ }
#features .option1 .feature .info h3 img {
margin-right: 18px;
position: relative;
top: -10px; }
#features .option1 .feature .info p {
margin-top: 15px; }
#features .option1 .last {
    margin-bottom: 0; }


/* Responsive
-------------------------------------------------- */
@media (min-width: 768px) {
#features .feature .pic-right {
float: right; }
#features .feature .info-left {
float: left; } }
@media (max-width: 767px) {
#features .feature {
margin-bottom: 60px; }
#features .feature img {
margin: 0 auto !important;
float: none !important; }
#features .last {
margin-bottom: 0; }
#features .option1 .feature .info h3 {
text-align: center; }
}
@media (max-width: 480px) {
#features .subtitle h2 {
font-size: 22px;
line-height: 30px; }
#features .last {
    margin-bottom: 0; } }